<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/pokericon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body background="/img/Poker.png">
    <div class="main-content">
        <div id="username"></div>
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
      <script src="main.js"></script>
</body>

</html>
